body{
  font-family: 'Open Sans', sans-serif;
}
.navbar-brand img {
    width: 180px;
    height: 30px;
}
.navbar-default {
	background-color: #ffffff;
	border-bottom: 1px solid #199b97;
}

 .navbar-default .navbar-nav > li > a:hover,  .navbar-default .navbar-nav > li.active >  a{
	background: #edecec;
    color: #02918d;
    text-decoration: none;
}
 .navbar-default .navbar-nav > li.active > a:after,  .navbar-default .navbar-nav > li > a:hover:after{
	 content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #02918d;
}
section{
	margin-top: 50px;
}
/* Bootstrap override */
 /* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .navbar-default .navbar-nav a{
		font-size: 16px;
	}
	.navbar-default .navbar-nav > li{
		margin-left: 20px;
	}
	.navbar-default .navbar-nav > li:first-child{
		margin-left: 0;
	}
	.w90{
		width: 90%;
	}
 }
 @media (max-width: 768px) { 
  .navbar-fixed-top{
    position: relative;
  }
  .bd-carousel {
		margin-top: 0;
	}
 }
 .bd-portfolio a img{
 	width: 100%;
    height: 150px;
 }
 .bd-portfolio .item{
 	text-align: center;
 	margin-bottom: 50px;
 }
 .bd-portfolio .bd-read-more{
 	display: inline-block;
    padding: 4px 20px 3px;
    font: 400 24px/30px 'Marvel', sans-serif;
    color: #413d3d;
    background: #f1f045;
 } 
.bd-portfolio .bd-read-more:hover {
  color: #ffffff;
  background: #249f9c;
  text-decoration: none;
}
.navbar-default .navbar-nav > li .dropdown-menu{
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li.dropdown li a:hover{
  background-color: #249f9c;  
  color: #ffffff;
}
footer{
	background-color: #129894;
	color: #a0d6d4;
}
footer a,footer a:hover{
	color: #a0d6d4;
}
footer p{
	padding: 23px 0 14px;
}
.bd-pull-right{
	float: right;
}
.bd-social-icons {
  font-size: 1.2em;  
}
.bd-social-icons:hover,.bd-social-icons:active,.bd-social-icons:focus{
  text-decoration: none;
  color: #fff;
}
/************************************************************/
/***********Common Button Styling****************************/
/***********************************************************/
.bd-btn {
    display: inline-block;
    padding: 4px 20px 3px;
    font: 400 24px/30px 'Marvel', sans-serif;
    color: #413d3d;
    background: #f1f045;
 }
.bd-btn:hover {
  color: #ffffff;
  background: #249f9c;
  text-decoration: none;
}
.minHt{min-height:500px}
<<<<<<< HEAD
.icon-circle{
  display: inline-block;
  width: 117px;
  height: 117px;
  color: #01918c;
  border: 1px solid #199b97;
  text-align: center;
  border-radius: 100px;
}
.icon-font{
	font:700 48px/117px 'FontAwesome';
}
.icon-chart:before{
	content:"\f080";
}
.icon-cloud:before{
	content:"\f0c2";
}
.icon-industry:before{
	content:"\f275"
}
.icon-user:before{
	content:"\f007"
}
=======

.dropdown:hover .dropdown-menu {    
    display: block; 
    margin-top: 0; // remove the gap so it doesn't close
   
 }
 .bd-breadcrumb {
  
  padding: 10px 0;
 }
 .bd-breadcrumb a { 
    color: #337ab7;
 }
 .bd-breadcrumb li {
  list-style-type: none;
  display: inline-block;
 
 }
  .bd-breadcrumb li i.fa {
   margin: 0 10px;  
   color: #02918d; 
 }
>>>>>>> Breadcrumb added.
