<!--STARTSEARCH-->
<div class="main-content">
	  <h2>Cloud</h2>
	  <p>
		Every business conversation today revolves around SMAC – Social, Mobility, Cloud and Analytics. The cloud is empowering enterprises to transform their businesses – by accelerating digital innovation, enabling agile business platforms and shortening time-to-market. Cloud is the corner stone of a future-ready enterprise.
	  </p>
	  <p>
		BRDDATA Cloud solutions help you:
	  </p>
  
	 <ul>
		<li>Optimize, scale, manage and outsource your IT resources</li>
		<li>Enable your employees to work with an anywhere, anytime, any device experience</li>
		<li>Control your costs and lower up-front investments</li>
		<li>Transform to an agile business and a dynamic growth engine</li>
	 </ul>
</div>
<!--ENDSEARCH-->